/* Top elements css Start */
* {
  margin: 0;
  padding: 0;
  font-family: 'Geologica', sans-serif;
}

:root {
  --red-color: rgb(207, 18, 18);
  --green-color: rgba(3, 73, 18, 0.87);
  --wheat-color: #b36237;
  --golden-color: #D0AB6D;
}

.navbar {
  display: none !important;
}

hr {
  opacity: 1;
  background-color: white;
}

p{
  text-align: justify;
  font-size: 15px;

}
li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-icon{
  font-size: 23px !important;
  color:#4D241C;
}
.font-icon:hover{
  transform: translateY(-2px);
 color: var(--green-color);
}
.font-18{
  font-size: 18px;
}

body {
  overflow-x: hidden;
  background-color: #f2f1ee;

}

li {
  list-style: none;
  cursor: pointer;
}

/* SECTION CSS STARTS*/
.pd-top {
  padding-top: 50px;
}

.pd-bottom {
  padding-bottom: 10px;
}
.pd-full{
  padding: 10px;
}

.heading {
  margin-top: 0px;
  font-size: 2vw;
  font-weight: bold;
  background: linear-gradient(to right, red, var(--green-color));
  -webkit-background-clip: text;
  color: transparent;
  animation: animate 1s alternate-reverse infinite;

}

.ftrheading {
  margin-top: 0px;
  font-size: 1.7vw;
  font-weight: bold;
  background: linear-gradient(to right, red, var(--green-color));
  -webkit-background-clip: text;
  color: transparent;
  animation: animate 1s alternate-reverse infinite;

}

.content a:hover {
  cursor: pointer;
  color: var(--green-color) !important;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: azure;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
 
 
}
.contact-form {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.form-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap:50px;

}
.form-section input, .form-section select, .form-section textarea {
  width: 400px;
}
.width-100{
  width: 100% !important;
}
.box-shadow{
  box-shadow: var(--golden-color) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  background-color: azure;
}

.fa-house {
  font-size: 25px;
  color: var(--wheat-color);
}

.fa-house:hover {
  color: white;
}

i.headicon {
  font-size: 50px;
  margin-top: 2rem;
  color: var(--wheat-color);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #b36237, #D0AB6D);
  padding: 10px;
  height: fit-content;

}

.top-element {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
  margin: 0px !important;
  column-gap: 20px;
  height: fit-content;
  font-size: 16px;
  color: white;
  font-weight: 500;
}
.top-element li a{
  color: white;
}

.contact .font-icon {
  font-size: 20px;
  padding-right: 5px;
  color: #4D241C;
}

.contact .font-icon:hover,
.contact li:hover i {
  color: white;
}

.top-social .font-icon {
  font-size: 25px !important;
  padding-right: 5px;
  color: #4D241C;
  margin: 0 !important;

}


#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 10px;
  background-color: azure;
}

.logo {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica Neue;
}
.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue;
}

.logo-text h1 {
  margin-top: 10px;
  font-size: 3vw;
  font-weight: bold;
  background: linear-gradient(to right, red, var(--green-color));
  -webkit-background-clip: text;
  color: transparent;
  animation: animate 1s alternate-reverse infinite;
}
.logo-text h4 {
  font-size: 20px;
  font-weight:bold;
  background: linear-gradient(to right, red, var(--green-color));
  -webkit-background-clip: text;
  color:transparent;
  animation: animate 1s alternate-reverse infinite;

}

@keyframes animate {
  0% {
      background: linear-gradient(to right, var(--green-color), red);
      background-position: 0% 50%;
      -webkit-background-clip: text;
      color: transparent;
  }

  100% {
      background-position: 100% 50%;
  }
}

figure img {
  height: 140px;
  width: 140px;
}

#button1 {

  margin-right: 20px;
  height: 50px;
  padding: 5px 10px;
  background-color: var(--wheat-color);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  transition: all 0.2s ease-in;
}

#button1:hover {
  background-color: var(--green-color);
}

#button2 {

  right: 20px;
  height: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.2s ease-in;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px -1px rgba(33, 150, 243, .4), 0 2px 4px -2px rgba(33, 150, 243, .4);
  background-color: var(--wheat-color);
}

#button2:hover {
  background-color: var(--green-color);
}

.nav {
  border-top: 1px solid rgba(128, 128, 128, 0.856);
  display: flex;
  justify-content: space-around;
  background-color: azure;
  position: sticky;
  margin: 0px;
  z-index: 9999;
  height: 52px auto;
  width: 100%;

}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: auto;
}

.nav ul li {
  list-style: none;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: bold;
  transition: all 0.5s ease-out;
}



.nav ul li:hover {
  background-color: var(--wheat-color);
  transition: all 0.5s ease-out;
}

.nav ul li:hover>a {
  color: white;
  text-decoration: none;
}

li{
  display: block;
}

li .link {

  text-align: left;
  font-size: 16px;
  color: rgba(3, 73, 18, 0.87);
  text-transform: uppercase;

}

.nav ul li ul {
  display: none;
  flex-direction: column;
  position: absolute;
  padding: 0;
  top: 48px;
  margin-left: -25px;
  background-color: azure;
  z-index: 99;
}

ul li:hover>ul {
  display: flex;
  flex-direction: column;
}





/* SLIDER CSS STARTS */

.carousel,
.mgn-minus {
  margin-top: -25px;
  object-fit: fill;
}

.carousel img {
  max-width: 100%;
  max-height: 100%;

}

.carousel-caption h1 {
  font-size: 50px;
}

.carousel-caption h3 {
  font-style: italic;
  font-size: 25px;
}



/* CARD SECTION CSS STARTS */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.75rem;
  background-color: azure;
  width: 23%;
  margin: 10px;
  height: 370px;
  box-shadow: 0 4px 10px -1px rgba(0, 0, 0, .5),
      0 2px 4px -2px rgba(0, 0, 0, .1);
  transition: all 0.5s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 20px -1px rgba(0, 0, 0, .5),
      0 2px 4px -2px rgba(0, 0, 0, .1);
  background:linear-gradient(to right, #b36237, #D0AB6D);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.card:hover p{
 color:white;
}


.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-clip: border-box;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.75rem;
  border: 5px solid var(--golden-color);
  background-color: azure;
  box-shadow: 0 5px 5px -3px brown, 0 4px 6px -4px brown;
  width: 150px;
  height: 150px;
  border-radius: 75px;

}

.top i {
  color: #4D241C;
}

.top img {
  object-fit: fill;
  height: 150px;
  width: 150px;
  border-radius: 75px;


}


.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
  padding: 0.5rem;

}

.title {
  color: var(--green-color);
  letter-spacing: 0;
  line-height: 1.375;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.bottom {
  padding: 0.75rem;
  border: 1px solid rgb(236 239 241);
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: rgba(0, 140, 255, 0.082);
}

/*Contact css Starts*/

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  line-height: 30px;
  padding: 10px;
  width: 100%;
  
}

.form-container .row {
  width: 100%;
  margin: 20px 0px;
}

.form-container .row .item {

  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 10px;
  height: 40px;
  width: 100%;
  box-shadow: var(--golden-color) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

textarea {
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  width: 100%;
  height: 80px;
  box-shadow: var(--golden-color) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px;

}

#submit {
  position: absolute;
  right: 20px;
  margin-top: 10px;
}

.contact-image {
  flex-grow: 1;
}


/* Team css starts*/
.bg-color{
  background-color: rgb(198,243,243);
}

.slider-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 90%;
  
}

.slider-content .team-img {
  background:linear-gradient(to right, #D0AB6D, rgb(154, 241, 241) );
  height: 250px;
  width: 250px;
  border-radius: 5%;
  border: 2px solid #4D241C;
}

.imgcontent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.team-icon {
  color: #b36237;
  margin-top: 180px !important;
}

.team-member {
  margin-top: 50px;
  margin-left: 300px;
  width: 100%;
  height: 250px;

}

.card-body {
  width: 850px;
  display: flex;
  flex-direction: column;
  background: azure;
  padding: 20px;
  border-radius: 0 100px 100px 0;
  color: #4D241C;
  position: relative;
  border: 5px solid var(--golden-color);
  transition: all 0.2s ease-in;
}

.card-body:hover {
  background-color: #4D241C;
  transition: all 0.2s ease-in;
}

.card-body:hover .content {
  color: white;
}

.card-body:hover i {
  background-color: white;
}

.card-body .content {
  margin-left: 150px;
  padding-top: 10px;
  color: #4D241C;
}

.card-body .info:before {
  content: "\f10d";
  font-family: fontawesome;
  position: absolute;
  top: 10px;
  left: 100px;
  font-size: 20px;
  color: #D0AB6D;
}

.card-body .info:after {
  content: "\f10e";
  font-family: fontawesome;
  font-size: 20px;
  color: #D0AB6D;
  position: absolute;
  bottom: 10px;
  right: 80px;
}


.circle-image {
  background-color: var(--wheat-color);
  width: 260px;
  height: 260px;
  line-height: 200px;
  border-radius: 50%;
  border: 14px solid var(--golden-color);
  overflow: hidden;
  position: absolute;
  margin-top: -18px;
  margin-left: -150px;
  z-index: 999;
  cursor: pointer;

}

.circle-image figure img {
  height: 235px;
  width: 100%;
  border-radius: 50%;
  transition: all 0.4s ease-in;
}

figure:hover img {
  transform: scale(1.1);
  transition: all 0.4s ease-in;
}

.social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social i {
  right: 20px;
  margin-left: 10px;
  font-size: 30px;
  margin-top: 2rem;
  color: #4D241C;
  transition: all 0.2s ease-in;
  border: 3px solid transparent;
  cursor: pointer;
}


i.fa-facebook:hover {
  color: navy;
  background-color: white;
  border-radius: 50px;
  border: 3px solid #D0AB6D;
  transition: all 0.2s ease-in;
}

i.fa-youtube:hover {
  color: var(--red-color);
  background-color: white;
  border-radius: 50px;
  border: 3px solid #D0AB6D;
  transition: all 0.2s ease-in;
}

i.fa-instagram:hover {
  color: var(--red-color);
  background-color: white;
  border-radius: 50px;
  border: 3px solid #D0AB6D;
  transition: all 0.2s ease-in;
}

i.fa-x-twitter:hover {
  color: var(--green-color);
  background-color: white;
  border-radius: 50px;
  border: 3px solid #D0AB6D;
  transition: all 0.2s ease-in;
}

span {
  display: flex;
  flex-direction: row;
}

/* sponsers css starts*/
.sponsers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sponsers figure {
  margin: 10px;
  border: 2px solid var(--golden-color);
  transition: all 0.4s ease-in;
}

/* Footer css starts*/

.ftr-section {
  background-color: rgb(198, 243, 243);
}


.joinus {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: azure;
  border-radius: 10px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.button3 {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background: linear-gradient(to right, #4D241C, #b36237);
  color: white;
  font-weight: 700;
  width: fit-content;
}

.button3:hover {
  border-radius: 5px;
  padding: 5px 15px;
  background: linear-gradient(to right, #b36237, #4D241C);
  color: white;
  font-weight: 700;
}


.ftr-content {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding: 10px;
  padding-top: 30px;
}

.ftr-content .column {
  padding: 5px;
  width: 23%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 15px;

}
.ftr-content li a{
  color: #4D241C;
}

.line {
  height: 4px !important;
  width:100%;
  background-color: #b36237;
  border-radius: 2px;
  border: none;
  opacity: 1;
}

.payment-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
  width: 100%;
  object-fit: contain;
}

.payment-option img {
  cursor: pointer;
  width: 20%;
  height: 100%;
}

.ftr-content .column h5 {
  font-weight: 700;
}

.ftr-content li {
  font-size: 16px;
  line-height: 40px;
  color: #4D241C;
}

.ftr-content li:hover {
  color: var(--green-color);
  transform: translateX(2px);
  transition: all 0.2s ease-in-out;
}

.ftr-content .column p {
  font-size: 16px;
}




.ftr-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 10px;
  color: white;
  background: linear-gradient(to right, #4D241C, #b36237)
}

#scrollbtn {
  display: none;
  position: fixed;
  right: 0px;
  bottom: 20px;
  z-index: 9999;
  background-color: #4D241C;
  color: var(--golden-color);
  font-weight: 800;
  height: 70px;
  width: 70px;
  padding: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}


/*ABOUT PAGE CSS STARTS */
.section-container {
  display: flex;
  justify-content: space-around;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 100%;
}

.imgcontent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.imgcontent img.img-dimention {
  width: 350px !important;
  height: 350px;
  border-radius: 10px;
  border: 2px solid #b36237;
  box-shadow: 0px 0px 30px -10px #4D241C;
  background:linear-gradient(to right, #D0AB6D, rgb(237, 245, 245) );
  
}

.team-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  line-height: 10px;
}

.team-title .name {
  font-weight: 700;
  font-size: 20px;
}

.team-title .designation {
  font-weight: 700;
  font-size: 16px;
  color: var(--green-color);
}

.button3 a {
  color: white;
}

ol {
  width: 100% !important;
}

.fullcontent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  width: 100%;
  transition: all 0.2s ease-in-out;

}

.list-group-item{
  margin-top:10px;
}

.list-group-item:hover {
  background-color: var(--golden-color);
  transition: all 0.2s ease-in-out;

}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #b36237;
  border-radius: 200px 89px 187px 37px;
  -moz-border-radius: 200px 89px 187px 37px;
  -webkit-border-radius: 200px 89px 187px 37px;
  z-index: 999;

}

.image::before {
  position: absolute;
  content: "";
  background-image: url('../assets/team/4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 20px;
  height: 350px;
  width: 350px;
  background-color: #4D241C;
  border-radius: 200px 89px 187px 37px;
  -moz-border-radius: 200px 89px 187px 37px;
  -webkit-border-radius: 200px 89px 187px 37px;
  border: 5px solid #000000;
  z-index: 1;
}

.txtcontent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  justify-content: justify;
  font-size: 16px;
}
.flex-row{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center !important;
}


/* GALLERY PAGE CSS STARTS*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around !important;
  align-items: center;
  object-fit: fill;

}

.gallery img {
  border-radius: 5px;
  border: 2px solid #4D241C;
  object-fit: fill;
  margin-top: 10px;
  max-height: 400px;
  width: auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}

.newsgallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around !important;
  align-items: center;
  object-fit: fill;
  gap:30px;
  padding:10px;
  padding-top: 30px;

}

.newsgallery img {
  border-radius: 5px;
  border: 2px solid #4D241C;
  object-fit: fill;
  height: 400px;
  width: 300px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.newsgallery img:hover {
  transform: scale(1.1);
}


table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

.tr-height {
  height: 200px;
}

td {
  border: 2px solid #b36237 !important;
  padding: 10px;

}
.accordion-item{
  background-color: rgb(159, 231, 231);
}

.accordion-button:hover{
  background:linear-gradient(to right, #b36237, #D0AB6D);
}


/* Media Query for laptop*/


@media only screen and (max-width: 1024px) {}


/* Media Query for mobile*/

@media only screen and (max-width: 767px) {

  .header-top {
      flex-direction: column !important;

  }

  .top-element{
      font-size:13px !important;
  }
  .top-element li .link {
    font-size: 13px;

  
  }

  .top-element .font-icon {
      font-size: 18px !important;
  }

  .navbar {
      display: flex !important;
      margin-bottom: 20px;
  }

  .navbar-toggler {
      font-size: 15px !important;

  }

  .nav {
      display: none !important;
  }

  .container-fluid {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
  }

  .section1 {
      width: 100%;
      padding: 5px 10px;
  }

  .section-container {

      flex-direction: column;
      width: 100%;
      padding: 5px;

  }

  .section-container .content {
      padding: 0px !important;
      width: 100%;
      flex-direction: column !important;
  }

  .heading {
      padding-top: 15px !important;
      font-size: 16px !important;
  }

  .card {
      width: 100%;
      margin: 10px 0;
  }

  .top img {
      height: 150px;
      width: 150px;
      border-radius: 75px;
  }

  .logo img {
      height: 50px;
  }

  .logo-text{
    text-align: center;
  }
  .logo-text h1 {
      font-size: 4vw !important;
  }

 .logo-text h4 {
      font-size: 8px !important;
  }

  .slider-content {
      flex-direction: column !important;
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
  }

  .contact-form {
      width: 100%;
      padding: 5px;
  }

  .form {
      width: 100%;
      padding: 5px;
  }


  .carousel-caption {
      top: 20px !important;

  }

  .carousel-caption h1 {
      font-size: 10px;
  }

  .carousel-caption h3 {

      font-size: 8px;
  }

  .carousel-indicators {
      top: 80px !important;
  }

  .carousel-control-prev,
  .carousel-control-next {
      display: none !important;
  }


  .sponsers {
      display: flex;
      flex-wrap: wrap;
      width: 98%;
  }

  .sponsers figure {
      width: 40%;
  }

  .ftrheading{
    font-size: 5vw;
  }

  .content .form-container .row {

      width: 100%;
      margin: 10px;
  }

  .form .form-container .row .item {
      width: 100%;

  }
  
  .form-section {
      display: flex;
      justify-content: space-around;
      align-items: center;
    
      flex-direction: column;
  }
  .form-section input{
      width: 100% !important;
  }
  .width-100{
width: 80% !important;
  }

  input,
  textarea {
      width: 100% !important;
      height: 50px;
      font-size: 18px;
  }

  label {
      font-size: 18px;
  }

  button {
      font-size: 10px;
      padding: 5px 10px;
      height: 45px;
  }

  #button1 {
    margin-right:0px !important;
      font-size: 8px;
      padding: 5px 5px;
      height: 30px;
      width: 80px;
  }

  iframe {
      margin: 0px !important;
      width: fit-content;
      padding: 10px;
  }


  .joinus input {
      width: 100%;
  }

  .ftr-content {
      flex-direction: column;
  }

  .ftr-content .column {
      width: 95%;
      align-items: center;
  }
}